<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
  <title>Authorised Settler Page</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
</head>
<body ng-app="angularApp" ng-controller="authorizedSettlerCtrl">
  <h1>Transfer of Share Ownership</h1>
  <h2>I am an Authorised Settler </h2>
<form>
  <table ng-init="console.log(shareIssuers);">
    <thead>
      <tr>
        <th>Share Issuer</th>
        <th>Authorised Settler</th>
        <th colspan="2">Seller (Shareholder)</th>
      </tr>
    </thead>
    <tbody ng-repeat="shareIssuer in getShareIssuers()">
      <tr class="share-issuer" data-issuer-address="0x2534545645" ng-repeat="shareHolder in shareIssuer.shareHolders">
        <th class="share-issuer-name">{{shareIssuer.name}} <br/>
          {{shareIssuer.instance.address}}
        </th>
        <td>
          {{shareIssuer.authorisedSettler}}
        </td>
        <td>
           <label for="shareholder-radio-{{$index}}">{{shareHolder.address}}</label>
        </td>
        <td>
           {{shareHolder.count}}
      <button ng-click="transferShares(shareIssuer, shareHolder, buyer, count)">Transfer</button>

        </td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div>
      <label>Buyer</label>
      <input type="text" name="buyer" placeholder="0x4327289347298" ng-model="buyer"/>
   </div>
   <div>
      <label>Count</label>
      <input type="number" name="count" ng-model="count" />
</form>
</body>
</html>
