<!DOCTYPE html>
<html>
<head>
<title>Order Book</title>
<link rel="stylesheet"  type="text/css" href="stylesheets/book.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="orderbook.js"></script>
<script>
var test = {
	"name" : "baguetteShop",
	"referenceprice" : "95.00",
	"selllist" :  [
       	    {
          	"price" : "100.00",
          	"quantity" : "100"
       	    },
       	    {
          	"price" : "110.00",
          	"quantity" : "200"
       	    },
       	    {
                "price" : "120.00",
                "quantity" : "300"
       	    },
            {
          	"price" : "130.00",
          	"quantity" : "100"
       	    }
       ],
	"buylist" : [
       	    {
                "price" : "70.00",
                "quantity" : 300
       	    },
       	    {
          	"price" : "80.00",
          	"quantity" : "200"
       	    },
	    {
          	"price" : "90.00",
          	"quantity" : "200"
       	    }
       ],
	"timestamp" : "09:10:35"

}
</script>
<body>

<div ng-app="myApp" ng-controller='orderbookCtrl'>


<table id="title">
<tr>
    <td>{{orderbook.name}} {{orderbook.referenceprice}} CHF - {{orderbook.timestamp}}</td>
</tr>
</table>
<!--<p>Name: <input type="text" ng-model="name"></p>
<p ng-bind="name"></p> -->

<p/>
<table>
<tr>
<td bgcolor="lightgrey"></td>
<td bgcolor="#CCE5FF">Bid Size</td>
<td bgcolor="#CCE5FF">Bid Price</td>
<td bgcolor="#E93939">Ask Price</td>
<td bgcolor="#E93939">Ask Size</td>
<td bgcolor="lightgrey"></td>
</tr>

<tr ng-repeat="x in orderbook.buylist">
    <td><button bgcolor="lightgrey">Take</button></td>
    <td>{{x.quantity}}</td>
    <td>{{x.price}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr ng-repeat="x in orderbook.selllist">
<td></td>
    <td></td>
    <td></td>
    <td>{{x.price}}</td>
    <td>{{x.quantity}}</td>
<td><button bgcolor="lightgrey">Take</button></td>
</tr>

</table>
<br><br>
<!--<form>
Price<input type="text" size="8" name="price">
Size<input type="text" size="8" name="size">
<button bgcolor="lightblue">Buy</button>
<button bgcolor="lightsell">sell</button>
</form>
-->
</div>

</body>
</html>

