<!DOCTYPE html>
<html>
<head>
<title>Order Book</title>
<link rel="stylesheet"  type="text/css" href="./app.css">
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js"></script>
<script src="orderbook.js"></script>
<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
<body>

<div ng-app="myApp" ng-controller='orderbookCtrl'>


<table id="title">
<tr>
    <td>{{orderbook.name}} {{orderbook.referenceprice}} CHF - {{orderbook.timestamp}}</td>
</tr>
</table>
<!--<p>Name: <input type="text" ng-model="name"></p>
<p ng-bind="name"></p> -->

<p/>
<table>
<tr>
<td bgcolor="lightgrey"></td>
<td bgcolor="#CCE5FF">Bid Size</td>
<td bgcolor="#CCE5FF">Bid Price</td>
<td bgcolor="#E93939">Ask Price</td>
<td bgcolor="#E93939">Ask Size</td>
<td bgcolor="lightgrey"></td>
</tr>

<tr class="order buy" ng-repeat="x in orderbook.buyList">
    <td><button class="take" bgcolor="lightgrey" ng-click="takeOrder(orderbook, x)">Take</button></td>
    <td>{{x.quantity}}</td>
    <td>{{x.price}}</td>
    <td></td>
    <td></td>
    <td></td>
</tr>

<tr class="order sell" ng-repeat="x in orderbook.sellList">
    <td></td>
    <td></td>
    <td></td>
    <td>{{x.price}}</td>
    <td>{{x.quantity}}</td>
    <td><button class="take" bgcolor="lightgrey" ng-click="takeOrder(orderbook, x)">Take</button></td>
</tr>

</table>
<br><br>
<!--<form>
Price<input type="text" size="8" name="price">
Size<input type="text" size="8" name="size">
<button bgcolor="lightblue">Buy</button>
<button bgcolor="lightsell">sell</button>
</form>
-->
</div>

</body>
</html>

