<!DOCTYPE html>
<html>
<head>
  <title>I am shareIssuer Owner</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./shareIssuerMethods.js"></script>
</head>
<body>
  <h1>I am ShareIssuer Owner</h1>
  <h2><span> Authorized Settler:</span> </h2>

<div ng-app="myApp" ng-controller="customersCtrl"> 

<table>
     <tr>
        <th>Shop Name</th>
        <th>Current Settler</th>
        <th>Action</th>
    </tr>
  <tr ng-repeat="x in names">
    <td>{{ x.ShopName }}</td>
    <td>{{ x.CurrentSettler}}</td>
    <td><button ng-click="update()">Update</button></td>
  </tr>
</table>

</div>





</body>
</html>
